<div id="<%= dom_id contatc %>">
  <p>
    <strong>Name:</strong>
    <%= contatc.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= contatc.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contatc.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contatc.phone %>
  </p>

</div>
